<h1 class="dashboard-title">Dashboard</h1>

<article class="notification-live {{ matchStart }}">
  <small class="notification-live__tag">Now playing</small>
  <p>Ajax 0 - 0 PSV</p>
  <p class="notification-live__timer"> {{ timer }}</p>
</article>


<article class="notification ">
  <img src="../img/goal.svg" alt="">
  <div class="notification__info">
    <h2>Goal! </h2>
    <h4>08:51 - Hakim Zijech</h4>
    <p>Ajax 1 - 0 PSV</p>
  </div>
</article>

<article class="halftime-notification ">
  <img src="../img/start.svg" alt="">
  <div class="notification__info">
    <h2>HALF-TIME!</h2>
    <h4>The current score between Ajax and PSV</h4>
    <p>Ajax 1 - 0 PSV</p>
  </div>
</article>

<section class="team-container">
  {{#each teams }}
    <article class="team-container__card">
      <button class="team-container__notification" type="button" name="button"><img src="../img/bell.svg" alt=""></button>
      <img class="team-container__logo" src="{{this.teamLogo}}" alt="">
      <h2>{{this.name}}</h2>
      <a href="/dashboard/{{this.name}}" class="button" type="button" name="button">Bekijk</a>
    </article>
  {{/each}}
</section>

<script type="text/javascript" src="./js/main.js"></script>
